html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}

article {
  width: 470px;
  padding: 0;
  margin: 20px auto 20px;
}

figure, h1, ul {
  width: 100%;
  padding: 0;
  margin: 10px 0 0;
  display: inline-block;
}

figure {
  height: 500px;
  position: relative;
  background-image: url(https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/10394649_924148377601284_1270225305225406649_n.jpg);
  background-position: bottom;
  background-size: 180%;
  z-index: 0;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
}

figure:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  z-index: 1;
  background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.7));
  background: -moz-linear-gradient(transparent, rgba(0,0,0,0.7));
  background: -o-linear-gradient(transparent, rgba(0,0,0,0.7));
  background: linear-gradient(transparent, rgba(0,0,0,0.7));
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: initial;
  z-index: 2;
  color: white;
  line-height: 1;
  white-space: normal;
  font-weight: lighter;
  font-size: 6em;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

h1 {
  text-align: left;
  font-size: 1.8em;
  font-weight: 400;
}

hr {
  margin: 20px 0 10px;
}

ul#links {
  padding: 0;
  list-style: none;
}

ul#links > li {
  display: inline-block;
}

ul#links > li + li {
  margin-left: 70px;
}

ul#links a.fa-soundcloud:before {
  color: #e67e22;
}

ul#links a.fa-facebook-square:before {
  color: #2980b9;
}

ul#gigs {
  text-align: left;
  list-style: none;
}

ul#gigs > li + li {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}


a:hover {
  color: blue;
}

ul#links a {
  letter-spacing: -1px;
  font-weight: 100;
  color: #808080;
}

ul#links a:hover {
  color: blue;
}

ul#gigs a {
  text-decoration: underline;
}

.fa:before {
  padding-right: 10px;
}

.city {
  padding-left: 4px;
  padding-right: 4px;
}

@media(max-width: 600px) {
  article {
    width: 320px; 
  }

  h1 {
    font-size: 1.6em;
  }

  figure {
    height: 350px;
  }

  figcaption {
    font-size: 4em;
  }

  ul#links {
    width: 320px; 
  }

  ul#links > li + li {
    margin-left: 20px;
  }

  ul#gigs {
    width: 320px; 
  }
}

